<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Spotify Wrapped</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {{#each css}}
            <link rel="stylesheet" type="text/css" href="/css/{{this}}.css">
    {{/each}}
</head>

<body>
 
    {{{body}}}

    {{#each scripts}}
        <script type="text/javascript" src="/scripts/{{this}}.js"></script>
    {{/each}}
 
</body>
</html>