<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Spotify Wrapped</title>

    {{#each css}}
            <link rel="stylesheet" type="text/css" href="/css/{{this}}.css">
    {{/each}}
</head>

<body>
 
    {{{body}}}

    {{#each scripts}}
        <script type="text/javascript" src="/scripts/{{this}}.js"></script>
    {{/each}}
 
</body>
</html>