<div class='homepage-container'>
	<h1 class='homepage-title'>Spotify Wrapped</h1>
	<button class='authorize-button' onClick="authOnClick()">Authorize</button>
</div>

<script>
	const authUrl = '{{{authUrl}}}';

	function redirect(){
		window.location.replace(window.location.origin + '/top');
	}

	function authOnClick() {
		let spotifyAuthWindow = window.open(authUrl, 'spotifyAuthWindow', 'height=865,width=510');
	}
</script>