<h1>Example App: Home</h1>
<h1>{{topArtist}}</h1>
<h1>{{topAlbum}}</h1>
<button onclick="onClick()">Click</button>
<h1 id="a"></h1>

<script>
    function onClick() {
        document.getElementById("a").innerHTML = "Hello World";

        console.log('hi')
    }
</script>