<div class='content-centered home-content'>
	<h1>Spotify Project</h1>
	<p>Connect your Spotify account to see your most played songs of the month.</p>
	<button onClick="authOnClick()">Connect</button>
</div>

<script>
	const authUrl = '{{{authUrl}}}';

	function redirect(){
		window.location.replace(window.location.origin + '/top');
	}

	function authOnClick() {
		let spotifyAuthWindow = window.open(authUrl, 'spotifyAuthWindow', 'height=960,width=510');
	}
</script>