<h1>Spotify Wrapped</h1>
<a href={{authUrl}}>Direct Link</a>
<button onClick="authOnClick()">Authorize</button>

<script>
	const authUrl = '{{{authUrl}}}';

	function redirect(){
		window.location.replace('https://sheltered-reaches-35391.herokuapp.com/top');
	}

	function authOnClick() {
		let spotifyAuthWindow = window.open(authUrl, 'spotifyAuthWindow', 'height=865,width=510');
	}
</script>