<div class="card">
    <div class="container">
        <img src={{imageUrl}} class="image" height="100" width="100"/>
        <div class="text">
            <h1>{{topArtist}}</h1>
            <br/>
            <h1>{{topAlbum}}</h1>
        </div>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>

<script>
    const token = sessionStorage.getItem('access_token');
    $.post(
        'https://sheltered-reaches-35391.herokuapp.com/top',
        {
            token
        },
        (data, status) => {
            console.log(`Success! Data: ${data}, Status: ${status}`);
            console.log(JSON.stringify(data));
        }
    );
</script>