<div class="card">
    <div class="container">
        <img src={{imageUrl}} class="image" height="100" width="100"/>
        <div class="text">
            <h1>{{topArtist}}</h1>
            <br/>
            <h1>{{topAlbum}}</h1>
        </div>
    </div>
</div>

<script>
    function onClick() {
        document.getElementById("a").innerHTML = "Hello World";

        console.log('hi')
    }
</script>