<button onClick="createPlaylist()">Create Playlist</button>

<div>
    <h1>Top Songs</h1>
    <div id='topSongs'></div>
</div>

<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
</script>

<!-- Main -->
<script>
    const accessToken = sessionStorage.getItem('accessToken');

    getTopTracks();
    async function getTopTracks() {
        try {

            const { items: topTracks } = await $.post(window.location.origin + '/top', { accessToken });
            
            displayTracks(topTracks); 
            displayAnalysis(topTracks); // This function is included in a seperate file. It is not visible here because it is loaded through handlebars server side

            featuresGraph(topTracks);
        }catch(err) {
            console.log(err);
            $("#main").append('<div>Please refresh page</div>');
        }
    }
</script>

<script>
    function displayTracks(topTracks){
        $(document).ready(function(){
            topTracks.forEach(track => {
                const { album, artists, id, name } = track;
                const { name: albumName } = album;
                const albumArt = album.images[1];

                $("#topSongs").append('<div id='+id+'></div>');
                $(`#${id}`).append('<p>Name: '+name+' | Album: '+albumName+'</p>');
                artists.forEach(artist => {
                    $(`#${id}`).append('<p>Artist: ' +artist.name+ '</p>')
                });
                $(`#${id}`).append(`<img src=${albumArt.url} height=75/>`);
            });
        });
    }
</script>

<script>
    function createPlaylist(){
        $.post(
            window.location.origin + '/createPlaylist',
            {
                accessToken
            },
            (data, status) => {
                console.log(`Playlist Created! Data: ${data}, Status: ${status}`);
            }
        );
    }
</script>

<!-- Chart Testing -->
<script 
    src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js'>
</script>

<select id='audioFeature'>
    <option value='acousticness'>Acousticness</option>
    <option value='danceability' selected>Danceability</option>
    <option value='energy'>Energy</option>
    <option value='instrumentalness'>Instrumentalness</option>
    <option value='liveness'>Liveness</option>
    <option value='loudness'>Loudness</option>
    <option value='speechiness'>Speechiness</option>
    <option value='valence'>Valence</option>
    <option value='tempo'>Tempo</option>
</select>
<canvas id='myChart'></canvas>

<script>
    async function featuresGraph(topTracks){
        let trackFeatures = await getAllTrackFeatures(topTracks); // This function is included in the playlistAnalysis file
        let datasets = {
            acousticness: null,
            danceability: null,
            energy: null,
            instrumentalness: null,
            liveness: null,
            loudness: null,
            speechiness: null,
            valence: null,
            temp: null,
        }
        for(dataType in datasets){
            let data = [];
            let labels = [];
            for(track of trackFeatures){
                data.push(track[dataType]);
                labels.push(track.name + ' - ' + track.artists.toString());
            }
            datasets[dataType] = {
                data,
                labels
            }
        }

        let ctx = $('#myChart');
        let chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: datasets['danceability'].labels,
                datasets: [{
                    label: 'danceability',
                    data: datasets['danceability'].data
                }]
            },
            options:{
                scales: {
                    xAxes: [{
                        display: false
                    }]
                },
            }
        });

        $('#audioFeature').on('change', function(e){
            let feature = $('#audioFeature :selected').val();
            changeGraph(feature);
        });

        async function changeGraph(feature){
            let labels = datasets[feature].labels;
            let data = datasets[feature].data;

            let barChartData = {
                labels,
                datasets: [
                    {
                        label: feature,
                        data
                    }
                ]
            };

            chart.data = barChartData;
            chart.update();
        }
    }
</script>