<div class="content-container">

    <h1 class='horizontal-center'>Top Songs</h1>
    <div class='list-container'>
        <div id='songs-list'></div>
    </div>  
    <button class='horizontal-center' onClick="createPlaylist()">Create Playlist</button>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!-- Main -->
<script>
    const accessToken = sessionStorage.getItem('accessToken');
    $( document ).ready(async function(){
        try {
            const { items: topTracks } = await $.post(window.location.origin + '/top', { accessToken });
            displayTracks(topTracks); 
        }catch(err) {
            console.log(err);
            $("#main").append('<div>Please refresh page</div>');
        }
    });
</script>

<!-- Script for displaying top tracks list -->
<script>
    function displayTracks(topTracks){
        topTracks.forEach(track => {
            const { album, artists, id, name, uri } = track;
            const { name: albumName } = album;

            const albumArt = album.images[1];

            $("#songs-list").append('<div class="song-entry" id='+id+' uri='+uri+'></div>');
            $(`#${id}`).append(`<img class="album-image" src=${albumArt.url} height=75/>`);
            $(`#${id}`).append('<p class="song-text">'+name+' - '+artists[0].name+'</p>');
        });
    }
</script>

<!-- Script for create playlist button -->
<script>
    function createPlaylist(){
        $.post(
            window.location.origin + '/createPlaylist',
            {
                accessToken
            },
            (data, status) => {
                console.log(`Playlist Created! Data: ${data}, Status: ${status}`);
            }
        );
    }
</script>

<!-- Script for initializing Web Player and making server request to play song -->
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
    window.onSpotifyWebPlaybackSDKReady = () => {
        const token = sessionStorage.getItem('accessToken');
        const player = new Spotify.Player({
            name: 'Web Playback SDK Top Tracks Player',
            getOAuthToken: cb => { cb(token); }
        });
        // Ready
        player.addListener('ready', ({ device_id }) => {
            console.log('Ready with Device ID', device_id);

            let songEntries = $('#songs-list').children();
            for(song of songEntries){
                let albumImage = $(song).children('.album-image');
                let uri = $(song).attr('uri');
                $(albumImage).on('click', function(){
                    playUri(token, device_id, uri);
                });
            }
        });
        // Not Ready
        player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
        });
        // Connect to the player!
        player.connect();
    }

    function playUri(accessToken, deviceId, uri){
        $.post(
            window.location.origin + '/playUri',
            {
                accessToken,
                deviceId,
                uri
            },
            (data, status) => {
                console.log(`Playing Song! Data: ${data}, Status: ${status}`);
            }
        );
    }
</script>