.homepage-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homepage-title {
    white-space: nowrap;
}

.authorize-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    width: 178px;
    height: 53px;
    color: rgb(255, 255, 255);
    border: none;
}