.top-results-content {
    height: 85vh;
}

.song-list {
    width: 828px;
    height: 484px;
    margin: 17px auto;
    overflow: scroll;
    overflow-x: hidden;
}

.song-list::-webkit-scrollbar {
    display: none;
}

.song-entry {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: auto;
    border-radius: 10px;
}

.song-entry:hover {
    background-color: #56565659;
}

.album-section {
    position: relative;
    width: 100%;
}

.album-image {
    margin: auto auto;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    background: #000;
    color: #fff;
    border-radius: 100px;
    display: none;
}

.play-icon {
    position: absolute;
    left: 52%;
    top: 48%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 900;
}

.song-text {
    margin: auto 0;
}